In [1]:
import numpy as pd 
import matplotlib.pyplot as plt 
import pandas as pd

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [6]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [8]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [9]:
df.shape

(400, 5)

In [12]:
x = df.iloc[:,2:4]

In [13]:
y = df.iloc[:,4]

In [17]:
df.drop(['User ID'],axis=1, inplace=True)
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [18]:
x,y=df.drop(['Purchased'], axis=1),df['Purchased']

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=42)

NameError: ignored

In [27]:
from sklearn.preprocessing import StandardScaler
sc_scale = StandardScaler()

In [28]:
X_train = sc_scale.fit_transform(X_train)
X_test = sc_scale.transform(X_test)

NameError: ignored

In [29]:
from sklearn.linear_model import LogisticRegression

In [30]:
classifier = LogisticRegression(random_state = 0)

In [31]:
classifier.fit(X_train, y_train)

NameError: ignored

In [32]:
y_pred = classifier.predict(X_test)

NameError: ignored

In [34]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

NameError: ignored

In [35]:
import seaborn as sns

In [36]:
import matplotlib.pyplot as plt
sns.heatmap(cm,annot=True)
plt.show()

NameError: ignored

In [37]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [38]:
precision = precision_score(y_test,y_pred)

NameError: ignored

In [39]:
print('Precision:%f' % precision)

NameError: ignored

In [40]:
recall=recall_score(y_test,y_pred)
print('Recall %f' % recall)

NameError: ignored

In [41]:
f1=f1_score(y_test,y_pred)
print('F1 score: %f' % f1)

NameError: ignored